<div class="bs-docs-section">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <div class="page-header">
        <h1 id="forms">Login</h1>
      </div>
      <div class="well bs-component">
        <form class="form-horizontal">
          <fieldset>
            <div class="form-group">
              <label for="inputEmail" class="col-lg-2 control-label">Email</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="inputEmail" placeholder="Email">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword" class="col-lg-2 control-label">Password</label>
              <div class="col-lg-10">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                <div class="checkbox">
                  <div class="pull-right"><a href="http://www.google.com">Need Help?</a></div>
                  <div>
                    <label>
                      <input type="checkbox">
                      Stay signed in
                    </label>
                  </div>
                </div>
                <button href="" class="btn btn-primary">Login</button>
              </div>
            </div>
          </fieldset>
        </form>
        <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>
    </div>
  </div>
</div>
