<div class="row">
  <div class="col-lg-12">
    <div class="form-group">
      <input type="text" placeholder="Filter by Name" class="form-control col-lg-8" />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <h3>My Zones</h3>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <div class="bs-component">
      <div class="list-group">
        <div class="list-group-item">
          <a href="" class="fa fa-trash edit-actions"></a>
          <a href="" class="fa fa-pencil-square-o edit-actions"></a>
          <h4 class="list-group-item-heading">Eastern Time (EST)</h4>
          <h4 class="list-group-item-heading">New York City</h4>
          <h4 class="list-group-item-heading">9:57 PM (-5) GMT</h4>
        </div>

        <!--<div class="form-group"><input class="control-label" placeholder="Name"/></div>-->
        <!--<div class="form-group"><input placeholder="City Name"/></div>-->
        <!--<div class="form-group"><input  placeholder="-+ GMT"/></div>-->

      </div>
    </div>
  </div>
</div>


