<div class="bs-docs-section" data-ng-controller="loginCtrl">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <div class="page-header">
        <h1 id="forms">Login</h1>
      </div>
      <div class="well bs-component">
        <form class="form-horizontal" name="loginForm">
          <fieldset>
            <div class="form-group">
              <label for="inputEmail" class="col-lg-2 control-label">Email</label>
              <div class="col-lg-10">
                <input name="email" ng-required="true" type="email" class="form-control" id="inputEmail" placeholder="Email" data-ng-model="user.email">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword" class="col-lg-2 control-label">Password</label>
              <div class="col-lg-10">
                <input type="password" required class="form-control" id="inputPassword" placeholder="Password" data-ng-model="user.password">
                <div class="checkbox">
                  <div class="pull-right"><a href="http://www.google.com">Need Help?</a></div>
                  <div>
                    <label>
                      <input type="checkbox">
                      Stay signed in
                    </label>
                  </div>
                </div>
                <button href="" class="btn btn-primary" data-ng-click="login()" ng-disabled="!loginForm.$valid">Login</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
