<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache">
  <meta http-equiv="Expires" content="Sat, 01 Dec 2001 00:00:00 GMT">

  <title>Time Zones</title>

  <base href="/">

  <!-- @if USE_MINIFIED='false' -->
  <link href="/vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="/vendor/fontawesome/css/font-awesome.css" rel="stylesheet" type="text/css">

  <link href="/css/theme.css" rel="stylesheet" type="text/css">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <!-- @endif -->

  <!-- @if USE_MINIFIED='true' -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="/css/theme.min.css" rel="stylesheet" type="text/css"/>
  <link href="/css/timezones.min.css" rel="stylesheet" type="text/css"/>
  <!-- @endif -->

  <!-- @if USE_MINIFIED='false' -->

  <!-- Additional Libraries -->
  <script src="/vendor/lodash/dist/lodash.js"></script>
  <script src="/vendor/modernizr/modernizr.js"></script>
  <script src="/vendor/moment/moment.js"></script>

  <!-- Angular -->
  <script src="/vendor/angular/angular.min.js"></script>
  <script src="/vendor/angular-route/angular-route.min.js"></script>
  <script src="/vendor/angular-resource/angular-resource.min.js"></script>

  <!-- JQuery -->
  <script src="/vendor/jquery/dist/jquery.js"></script>

  <!-- Bootstrap -->
  <script src="/vendor/bootstrap/dist/js/bootstrap.js"></script>

  <!-- TimeZones Services -->
  <script src="/js/services/authentication-service.js"></script>
  <script src="/js/services/user-service.js"></script>
  <script src="/js/services/token-interceptor-service.js"></script>
  <script src="/js/services/flashmsg-interceptor-service.js"></script>
  <script src="/js/services/zones-service.js"></script>

  <!-- TimeZones Controllers -->
  <script src="/js/controllers/sign-up-controller.js"></script>
  <script src="/js/controllers/login-controller.js"></script>
  <script src="/js/controllers/nav-bar-controller.js"></script>
  <script src="/js/controllers/zones-controller.js"></script>

  <!-- TimeZones Filters -->
  <script src="/js/filters/moment-filter.js"></script>

  <!-- TimeZones App -->
  <script src="/js/app.js"></script>
  <!-- @endif -->

</head>

<body data-ng-app="timeZones">
<div class="navbar navbar-default navbar-fixed-top" data-ng-controller="navBarCtrl">
  <div class="container">
    <div class="navbar-header">
      <a href="../" class="navbar-brand"><i class="fa fa-clock-o"></i> TimeZones</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="/zones" id="themes" data-ng-if="user.fullName">My Zones</a>
        </li>
      </ul>


      <ul class="nav navbar-nav navbar-right" data-ng-if="user.fullName">
        <li><a href="">{{user.fullName}}</a></li>
        <li><a href="/signup" data-ng-if="!user.fullName">Sign Up</a></li>
        <li><a href="/logout" target="_self" data-ng-if="user.fullName">Logout</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right" data-ng-if="!user.fullName">
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign Up</a></li>
      </ul>

    </div>
  </div>
  <div class="row">
    <div class="col-lg-5"></div>
    <div class="col-lg-4">
      <div class="bs-component flash-message" data-ng-show="flashMsg" data-ng-cloak>
        <div class="alert alert-dismissable alert-danger">
          <button type="button" class="close" data-ng-click="closeFlashMsg()">×</button>
          <strong>Error:</strong> <span>{{flashMsg.errorMsg}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" data-ng-view></div>

<footer>
  <div class="row">
    <div class="col-lg-12">

    </div>
  </div>
</footer>

<!-- @if USE_MINIFIED='true' -->
<script src="/js/vendor.min.js"></script>
<script src="/js/timezones.js"></script>
<!-- @endif -->

</body>
</html>
